*{
    padding: 0;
    margin: 0;
}

.new-board{
    width: 100vw;
    height: 100vh;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-board-row{
    width: 300px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
}
.square-btn{
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: 600;
}
.moves-backtracking{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.move-btn{
    width: 250px;
    height: 20px;
    
}